backup/long_sim_data/display_energys0.tcl
backup/long_sim_data/display_energys1.tcl
backup/long_sim_data/display_energys2.tcl
backup/long_sim_data/display_energys3.tcl
backup/long_sim_data/display_energys4.tcl
backup/long_sim_data/display_energys5.tcl
backup/long_sim_data/input0.prmtop
backup/long_sim_data/input1.prmtop
backup/long_sim_data/input2.prmtop
backup/long_sim_data/input3.prmtop
backup/long_sim_data/input4.prmtop
backup/long_sim_data/input5.prmtop
backup/long_sim_data/mdcrd0.4md
backup/long_sim_data/mdcrd1.4md
backup/long_sim_data/mdcrd2.4md
backup/long_sim_data/mdcrd3.4md
backup/long_sim_data/mdcrd4.4md
backup/long_sim_data/mdcrd5.4md
backup/long_sim_data/output0.pdb
backup/long_sim_data/output1.pdb
backup/long_sim_data/output2.pdb
backup/long_sim_data/output3.pdb
backup/long_sim_data/output4.pdb
backup/long_sim_data/output5.pdb
backup/long_sim_data1/display_energys0.tcl
backup/long_sim_data1/display_energys1.tcl
backup/long_sim_data1/input0.prmtop
backup/long_sim_data1/input1.prmtop
backup/long_sim_data1/output0.pdb
backup/long_sim_data1/output1.pdb
backup/long_sim_data2/display_energys0.tcl
backup/long_sim_data2/display_energys1.tcl
backup/long_sim_data2/display_energys2.tcl
backup/long_sim_data2/display_energys3.tcl
backup/long_sim_data2/display_energys4.tcl
backup/long_sim_data2/display_energys5.tcl
backup/long_sim_data2/input0.prmtop
backup/long_sim_data2/input1.prmtop
backup/long_sim_data2/input2.prmtop
backup/long_sim_data2/input3.prmtop
backup/long_sim_data2/input4.prmtop
backup/long_sim_data2/input5.prmtop
backup/long_sim_data2/mdcrd0.4md
backup/long_sim_data2/mdcrd1.4md
backup/long_sim_data2/mdcrd2.4md
backup/long_sim_data2/mdcrd3.4md
backup/long_sim_data2/mdcrd4.4md
backup/long_sim_data2/mdcrd5.4md
backup/long_sim_data2/output0.pdb
backup/long_sim_data2/output1.pdb
backup/long_sim_data2/output2.pdb
backup/long_sim_data2/output3.pdb
backup/long_sim_data2/output4.pdb
backup/long_sim_data2/output5.pdb
Offset_energy_calculator/hexamers_csv/DNA/coords_grooves_DNA_heptamers_table.csv
Offset_energy_calculator/hexamers_csv/DNA/coords_grooves_DNA_hexamers_table.csv
Offset_energy_calculator/hexamers_csv/DNA/coords_stiffs_DNA_heptamers_table.csv
Offset_energy_calculator/hexamers_csv/DNA/coords_stiffs_DNA_hexamers_table.csv
Offset_energy_calculator/hexamers_csv/DNA/K_intra_inter_DNA.csv
Offset_energy_calculator/hexamers_csv/DNA/manual_filter_set107_DNA.txt
Offset_energy_calculator/hexamers_csv/RNA/coords_grooves_RNA_heptamers_table.csv
Offset_energy_calculator/hexamers_csv/RNA/coords_grooves_RNA_hexamers_table.csv
Offset_energy_calculator/hexamers_csv/RNA/coords_stiffs_RNA_heptamers_table.csv
Offset_energy_calculator/hexamers_csv/RNA/coords_stiffs_RNA_hexamers_table.csv
Offset_energy_calculator/hexamers_csv/RNA/K_intra_inter_RNA.csv
Offset_energy_calculator/hexamers_csv/RNA/manual_filter_set107_RNA .txt
zacharias/7ARQ.cif.gz
zacharias/7arq.pdb
zacharias/drei.pdb
zacharias/eins.pdb
zacharias/eq.csh
zacharias/frag.pdb
zacharias/gc2.out
zacharias/gc3.out
zacharias/gc4.out
zacharias/gc5.out
zacharias/gc6.out
zacharias/gc7.out
zacharias/gc8.out
zacharias/history1.txt
zacharias/history2.txt
zacharias/leap.log
zacharias/mdinfo
zacharias/mdwat2.in
zacharias/mdwat3.in
zacharias/mdwat4.in
zacharias/mdwat5.in
zacharias/mdwat6.in
zacharias/mdwat7.in
zacharias/mdwat8.in
zacharias/mdwat9.in
zacharias/mdwat10.in
zacharias/min.in
zacharias/ori2.prmtop
zacharias/ori16.pdb
zacharias/ori20.nc
zacharias/tes.pdb
zacharias/tes.prmtop
zacharias/tes.rst
zacharias/tes0.pdb
zacharias/tes1.out
zacharias/tes1.rst
zacharias/tes2.out
zacharias/tes2.pdb
zacharias/tes2.prmtop
zacharias/tes2.rst
zacharias/tes3.out
zacharias/tes3.pdb
zacharias/tes3.rst
zacharias/tes4.out
zacharias/tes4.rst
zacharias/tes5.out
zacharias/tes5.rst
zacharias/tes6.out
zacharias/tes6.rst
zacharias/tes7.out
zacharias/tes7.rst
zacharias/tes8.out
zacharias/vier.pdb
zacharias/zwei.pdb
input/cadnano2pdb.pdb
MD_simulation/cpptraj.log
MD_simulation/input.inpcrd
MD_simulation/input.prmtop
MD_simulation/mdinfo
MD_simulation/info/min.info
MD_simulation/out/gc1.out
MD_simulation/restart_files/gc1.rst7
helix.pdb
leap.log
leap.out
minimal_ori.pdb
output.pdb
MD_simulation/info/2md.info
MD_simulation/out/gc2.out
